@using SModels;
@using System.Text.Json;
@using Microsoft.AspNetCore.Http;
@model SModels.Store


@{
    ViewData["Title"] = "Details";
    List<StoreInventory> storeInventories = ViewBag.storeInventories;
    List<Product> products = ViewBag.products;
    Store store = ViewBag.Store;
    Customer customer;
    if (Context.Session.GetString("userData") == null)
    {
        customer = null;
    }
    else
    {
        customer = JsonSerializer.Deserialize<Customer>(Context.Session.GetString("userData"));
    }
}

<div>
    <h3 class="text-center text-white">@Model.StoreName</h3>
    <hr />
    <dl class="row">
        <dt class="col-sm-2 text-white-50">
            Store Location:
        </dt>
        <dd class="col-sm-10 text-white-50">
            @Model.StoreLocation
        </dd>
    </dl>
</div>

<table class="table">
    <thead>
        <tr>
            <th class="col-md-5 text-white-50">
                Name:
            </th>
            <th class="col-md-3 text-white-50">
                Price:
            </th>
            <th class="col-md-2 text-white-50">
                Quantity:
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var inv in storeInventories)
        {
            @foreach (var prod in products)
            {
                @if (inv.ProductID == prod.ID)
                {
                    @if (inv.InventoryQuantity > 0)
                    {
                        <tr>
                            <td class="col-md-3 text-white-50">
                                @prod.ProductName
                            </td>
                            <td class="col-md-3 text-white-50">
                                @prod.Price
                            </td>
                            <td class="col-md-2 text-white-50">
                                @inv.InventoryQuantity
                            </td>
                            <td class="col-md-4 text-white-50">
                                @Html.ActionLink("Add to Cart", "AddQuantityToCart", "Store", new { storeid = store.ID, prodId = inv.ProductID })
                            </td>
                        </tr>
                    }
                }
            }
        }
    </tbody>
</table>

@if (customer != null)
{
    @if (customer.IsManager)
    {
        <div>
            @Html.ActionLink("Add Products", "CreateStoreInventory", "Store", new { id = Model.ID })
        </div>
        <div>
            @Html.ActionLink("Order History", "OrderHistoryOfLocation", "Store", new { id = Model.ID })
        </div>
    }
}


